Repository ysbjlzlx/toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, prettier --parser markdown --write --ignore-unknown, stylelint src/**/*.css

feat: 添加快捷键绑定
  src/pages/code/extensions/KeyBinds.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

deploy: 5f4b0b3219bc790a930cf3fec34c556a6db3a2f6
  asset-manifest.json
  index.html
  service-worker.js
  static/js/109.6746e83d.chunk.js
  static/js/109.6746e83d.chunk.js.map
  static/js/109.8396af67.chunk.js
  static/js/109.8396af67.chunk.js.map
  static/js/main.4d62572f.js
  static/js/main.4d62572f.js.LICENSE.txt
  static/js/main.4d62572f.js.map
  static/js/main.944bdecc.js
  static/js/main.944bdecc.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

deploy: 48e77cef96630a35cff2d37b5fad996a999563a4
  asset-manifest.json
  index.html
  service-worker.js
  static/js/496.3058498d.chunk.js
  static/js/496.3058498d.chunk.js.map
  static/js/787.ac02177c.chunk.js
  static/js/787.ac02177c.chunk.js.map
  static/js/main.4d62572f.js
  static/js/main.4d62572f.js.map
  static/js/main.ffadbd5e.js
  static/js/main.ffadbd5e.js.LICENSE.txt
  static/js/main.ffadbd5e.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

feat: 修改路由代码组织
  src/aio/Router.tsx
  src/config/routes.tsx
  src/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: 将 mobx 更换为 zustand
  package-lock.json
  package.json
  src/config/locale.ts
  src/stores/App.ts
  src/stores/LocaleStore.ts
  src/stores/index.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: axios 重新组织
  src/aio/request.ts
  src/config/request.ts
  src/services/request.ts
  src/services/userService.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: 全局主题
  src/config/global-theme.ts
  src/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: 添加时间戳
  package-lock.json
  package.json
  src/config/routes.tsx
  src/models/Apps.ts
  src/pages/Timestamp.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: totp
  package-lock.json
  package.json
  src/config/routes.tsx
  src/pages/Totp/AccountList.tsx
  src/pages/Totp/DetailInfo.tsx
  src/pages/Totp/TokenField.tsx
  src/pages/Totp/TotpCard.tsx
  src/pages/Totp/index.tsx
  src/pages/Totp/typings.d.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: packages
  package-lock.json
  package.json
Due: none

deploy: 3e238dcd3b2a166621d458f1d3d924bbc47b7276
  asset-manifest.json
  index.html
  service-worker.js
  static/js/784.0718ab71.chunk.js
  static/js/784.0718ab71.chunk.js.map
  static/js/784.2d45e843.chunk.js
  static/js/784.2d45e843.chunk.js.map
  static/js/main.12a11aa2.js
  static/js/main.12a11aa2.js.map
  static/js/main.518fbe77.js
  static/js/main.518fbe77.js.LICENSE.txt
  static/js/main.518fbe77.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

deploy: 8f35a3e9deb3985462800fdb9f89b64865d47fe1
  asset-manifest.json
  index.html
  service-worker.js
  static/js/main.40a6bede.js
  static/js/main.40a6bede.js.map
  static/js/main.5dfa3889.js
  static/js/main.5dfa3889.js.LICENSE.txt
  static/js/main.5dfa3889.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

feat: packages
  .npmrc
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

feat: packages
  package.json
Due: none

feat: packages
  .github/workflows/deployment.yml
  .github/workflows/pull_request_check.yml
Due: none

feat: packages
  pnpm-lock.yaml
Due: none

deploy: 7d40ce41d7b79b810a734f8b7d47c848c273ed82
  asset-manifest.json
  index.html
  service-worker.js
  service-worker.js.map
  static/js/45.78bedef7.chunk.js
  static/js/45.78bedef7.chunk.js.LICENSE.txt
  static/js/45.78bedef7.chunk.js.map
  static/js/483.32dca0c6.chunk.js
  static/js/483.32dca0c6.chunk.js.LICENSE.txt
  static/js/483.32dca0c6.chunk.js.map
  static/js/581.33eac620.chunk.js
  static/js/581.33eac620.chunk.js.map
  static/js/581.4b5eb365.chunk.js
  static/js/581.4b5eb365.chunk.js.map
  static/js/main.6106fb86.js
  static/js/main.6106fb86.js.map
  static/js/main.7921c741.js
  static/js/main.7921c741.js.LICENSE.txt
  static/js/main.7921c741.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

deploy: 312331c5082bbfe9757839b40c1b604e8eddbd45
  asset-manifest.json
  index.html
  service-worker.js
  static/js/317.8e7f8f2f.chunk.js
  static/js/317.8e7f8f2f.chunk.js.map
  static/js/326.1435abe6.chunk.js
  static/js/326.1435abe6.chunk.js.map
  static/js/326.8b7270cb.chunk.js
  static/js/326.8b7270cb.chunk.js.map
  static/js/371.0d7c8550.chunk.js
  static/js/371.0d7c8550.chunk.js.map
  static/js/371.64e01714.chunk.js
  static/js/371.64e01714.chunk.js.LICENSE.txt
  static/js/371.64e01714.chunk.js.map
  static/js/425.8288554b.chunk.js
  static/js/425.8288554b.chunk.js.map
  static/js/569.5ba0031b.chunk.js
  static/js/569.5ba0031b.chunk.js.LICENSE.txt
  static/js/569.5ba0031b.chunk.js.map
  static/js/569.7b73f47d.chunk.js
  static/js/569.7b73f47d.chunk.js.map
  static/js/674.52268f90.chunk.js
  static/js/674.52268f90.chunk.js.map
  static/js/697.7cdc5321.chunk.js
  static/js/697.7cdc5321.chunk.js.map
  static/js/757.404682c7.chunk.js
  static/js/757.404682c7.chunk.js.map
  static/js/757.82352fcd.chunk.js
  static/js/757.82352fcd.chunk.js.map
  static/js/87.60a548dc.chunk.js
  static/js/87.60a548dc.chunk.js.map
  static/js/87.8dd62ca5.chunk.js
  static/js/87.8dd62ca5.chunk.js.LICENSE.txt
  static/js/87.8dd62ca5.chunk.js.map
  static/js/main.66d31370.js
  static/js/main.66d31370.js.LICENSE.txt
  static/js/main.66d31370.js.map
  static/js/main.7921c741.js
  static/js/main.7921c741.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

deploy: 84cd85ad2ba4f975af2831590ea05b07f53ec899
  asset-manifest.json
  index.html
  service-worker.js
  static/js/202.dd56caef.chunk.js
  static/js/202.dd56caef.chunk.js.map
  static/js/425.8288554b.chunk.js
  static/js/425.8288554b.chunk.js.map
  static/js/757.404682c7.chunk.js
  static/js/757.404682c7.chunk.js.map
  static/js/757.79a7e4a1.chunk.js
  static/js/757.79a7e4a1.chunk.js.map
  static/js/main.66d31370.js
  static/js/main.66d31370.js.map
  static/js/main.afedb481.js
  static/js/main.afedb481.js.LICENSE.txt
  static/js/main.afedb481.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

feat: mantine 升级
  package.json
Due: none

deploy: b3d0d1afbbc589bfb57538e264e8eccc5ea08515
  asset-manifest.json
  index.html
  service-worker.js
  static/js/202.dd56caef.chunk.js
  static/js/202.dd56caef.chunk.js.map
  static/js/641.a22d8b11.chunk.js
  static/js/641.a22d8b11.chunk.js.map
  static/js/757.ab55cec9.chunk.js
  static/js/757.ab55cec9.chunk.js.map
  static/js/757.ed0398c3.chunk.js
  static/js/757.ed0398c3.chunk.js.map
  static/js/97.0ac8c236.chunk.js
  static/js/97.0ac8c236.chunk.js.map
  static/js/97.2089076b.chunk.js
  static/js/97.2089076b.chunk.js.map
  static/js/main.5f0e35ce.js
  static/js/main.5f0e35ce.js.map
  static/js/main.b9f571f0.js
  static/js/main.b9f571f0.js.LICENSE.txt
  static/js/main.b9f571f0.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

feat: @types/react 升级
  package.json
Due: none

feat: package.json 升级
  package.json
  pnpm-lock.yaml
Due: none

feat: package 升级
  package.json
  pnpm-lock.yaml
Due: none

feat: json 标签
  src/components/TabPanel.tsx
  src/config/routes.tsx
  src/pages/json/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

Path conditions:
  eslint src --fix: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  prettier --write --ignore-unknown: (any of: *.{js,jsx}) or (any of: *.css)
  prettier --parser typescript --write --ignore-unknown: any of: *.{ts,tsx}
  prettier --parser markdown --write --ignore-unknown: any of: *.md
  stylelint src/**/*.css: any of: *.css
