Repository ysbjlzlx/toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, prettier --parser markdown --write --ignore-unknown, stylelint src/**/*.css

feat: qrCode
  src/layouts/defaultProps.tsx
  src/pages/image/qrcode/page.tsx
  src/router.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: qrCode
  src/layouts/defaultProps.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: pkg update
  package.json
  pnpm-lock.yaml
Due: none

feat(clear): 移除一些没使用的代码
  src/aio/request.ts
  src/config/request.ts
  src/services/userService.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat(clear): 移除 ulid id
  package.json
  pnpm-lock.yaml
  src/pages/generator/id/page.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat(clear): 移除 antd reset
  package.json
  pnpm-lock.yaml
  src/globals.css
  src/main.tsx
  src/tailwind.css
  tailwind.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, stylelint src/**/*.css

feat(JSONEditor): tab 重命名
  src/pages/json/json-editor/index.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add biome
  .eslintrc.cjs
  .github/renovate.json
  biome.json
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
  src/pages/base64/page.tsx
Due: eslint --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

feat: add biome
  README.md
  src/layouts/BaseLayout.tsx
  src/layouts/defaultProps.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown, prettier --parser markdown --write --ignore-unknown

feat: upgrade biome
  biome.json
  package.json
  pnpm-lock.yaml
Due: none

feat: remove eslint prettier
  .eslintignore
  .eslintrc.cjs
  .prettierignore
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: eslint --fix, prettier --write --ignore-unknown

feat: remove eslint prettier
  lint-staged.config.js
Due: eslint --fix, prettier --write --ignore-unknown

feat: update iconify
  biome.json
  src/components/Iconify/index.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: update iconify
  src/components/CopyTextButton/index.tsx
  src/pages/generator/string/page.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

chore(pkg): pkg update
  package.json
  pnpm-lock.yaml
Due: none

feat: update pkg
  package.json
  pnpm-lock.yaml
Due: none

feat: string
  src/layouts/defaultProps.tsx
  src/pages/string/index.tsx
  src/router.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: string
  package.json
  pnpm-lock.yaml
  src/lib/BaseEncoder.ts
  src/pages/base64/page.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

fix(codemirror): 重新引入依赖 @codemirror/view, jsoneditor code diff 的 search 组件依赖
  package.json
  pnpm-lock.yaml
Due: none

feat(json): 配置 json transfor 支持 lodash
  src/components/VanillaJSONEditor.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat(json): 添加额外按钮，先隐藏
  src/pages/json/json-editor/index.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat(sidebar): 侧边栏折叠优化
  src/layouts/BaseLayout.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: 更新一些图标
  src/components/CopyTextButton/index.tsx
  src/pages/generator/string/page.tsx
  src/pages/timestamp/page.tsx
  src/pages/totp/DetailInfo.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: 更新一些图标
  biome.json
  src/layouts/BaseLayout.tsx
  src/router.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: pwa upgrade
  package.json
  pnpm-lock.yaml
  src/main.tsx
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: pkg upgrade
  package.json
  pnpm-lock.yaml
Due: none

feat: pkg upgrade
  package.json
  tsconfig.app.json
  tsconfig.json
Due: none

feat: @repo/colors
  .gitignore
  package.json
  packages/colors/package.json
  packages/colors/src/index.ts
  packages/colors/src/tailwindcss/index.ts
  packages/colors/tsconfig.json
  packages/tsconfig.base.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/placeholder/LocalImage.tsx
  src/pages/image/placeholder/page.tsx
  src/pages/playground/index.tsx
  src/router.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: loader
  public/text/README.md
  public/text/orchard-street-medium.txt
  src/pages/user-pass/index.tsx
  src/router.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown, prettier --parser markdown --write --ignore-unknown

feat: pkg update
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: remove lodash
  src/pages/json/json-editor/index.tsx
  src/pages/json/json-to-excel/page.tsx
  src/stores/JsonTabStore.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: lodash
  .npmrc
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

Path conditions:
  eslint --fix: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  prettier --write --ignore-unknown: (any of: *.{js,jsx}) or (any of: *.css)
  prettier --parser typescript --write --ignore-unknown: any of: *.{ts,tsx}
  prettier --parser markdown --write --ignore-unknown: any of: *.md
  stylelint src/**/*.css: any of: *.css
