Repository ysbjlzlx/toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, prettier --parser markdown --write --ignore-unknown, stylelint src/**/*.css

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "eslint src --fix",
    "prettier --write --ignore-unknown"
  ],
  "*.{ts,tsx}": [
    "eslint src --fix",
    "prettier --parser typescript --write --ignore-unknown"
  ],
  "*.md": "prettier --parser markdown --write --ignore-unknown",
  "*.css": [
    "stylelint src/**/*.css",
    "prettier --write --ignore-unknown"
  ]
}

feat: v1.0.0
  package.json
Due: none

feat: json
  src/pages/App.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: sidebar
  src/layouts/NextLayout.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: sidebar
  src/layouts/NextLayout.tsx
  src/layouts/next-layout.css
Due: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, stylelint src/**/*.css

feat: sidebar
  src/pages/App.css
Due: prettier --write --ignore-unknown, stylelint src/**/*.css

feat: release 1.0.1
  package.json
Due: none

feat: prolayout
  package.json
  pnpm-lock.yaml
  src/index.tsx
  src/layouts/BaseLayout.tsx
  src/layouts/NextLayout.bak.tsx
  src/layouts/NextLayout.tsx
  src/layouts/defaultProps.tsx
  yarn.lock
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: prolayout
  src/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: prolayout
  src/layouts/defaultProps.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: reset
  src/index.tsx
  src/layouts/NextLayout.tsx
  yarn.lock
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: workflow
  .github/workflows/deployment.yml
  .github/workflows/pull_request_check.yml
Due: none

feat: base64
  src/pages/Base64.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: random
  src/pages/Random.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: random
  package.json
  yarn.lock
Due: none

feat: workflow
  .github/workflows/pull_request_check.yml
Due: none

feat: hash
  src/pages/Hash.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: mui
  package.json
  yarn.lock
Due: none

feat: json
  package.json
  yarn.lock
Due: none

feat: json
  src/pages/json/Json.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: remove codemirror
  package.json
  src/config/routes.tsx
  src/pages/code/extensions/KeyBinds.ts
  src/pages/code/extensions/WordCounter.ts
  src/pages/code/index.tsx
  yarn.lock
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: v1.1.0
  package.json
Due: none

feat: upgrade package.json
  package.json
  yarn.lock
Due: none

feat: 拆分 json
  src/config/routes.tsx
  src/layouts/defaultProps.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: 拆分 json
  src/layouts/NextLayout.tsx
  src/layouts/defaultProps.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: 拆分 json
  src/pages/json/JsonToYaml.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: 拆分 json
  src/config/routes.tsx
  src/layouts/NextLayout.tsx
  src/layouts/defaultProps.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: json
  src/config/routes.tsx
  src/pages/json/Json.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: json
  src/pages/json/JsonEditor.tsx
  src/stores/JsonEditorStore.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: json
  src/stores/JsonEditorStore.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: json
  src/stores/JsonEditorStoreNew.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: json
  src/pages/json/JsonEditor.tsx
  src/stores/JsonEditorStoreNew.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown
