Repository ysbjlzlx/toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, prettier --parser markdown --write --ignore-unknown, stylelint src/**/*.css

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "eslint src --fix",
    "prettier --write --ignore-unknown"
  ],
  "*.{ts,tsx}": [
    "eslint src --fix",
    "prettier --parser typescript --write --ignore-unknown"
  ],
  "*.md": "prettier --parser markdown --write --ignore-unknown",
  "*.css": [
    "stylelint src/**/*.css",
    "prettier --write --ignore-unknown"
  ]
}

feat: pro
  src/config/routes.tsx
  src/layouts/BaseLayout.tsx
  src/layouts/NextLayout.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: pro
  package-lock.json
  package.json
Due: none

feat: pro
  .npmrc
Due: none

feat: pro
  package.json
Due: none

feat: v1.2.5
  package.json
Due: none

feat: menu
  src/layouts/BaseLayout.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: nextjs
  src/app/base64/page.tsx
  src/app/bson-object-id/page.tsx
  src/app/bson/page.tsx
  src/app/code-formatter/page.tsx
  src/app/doc-editor/page.tsx
  src/app/excel/page.tsx
  src/app/hash/page.tsx
  src/app/json/json-editor/JsonEditor.tsx
  src/app/json/json-editor/page.tsx
  src/app/json/json-to-excel/JsonToExcel.tsx
  src/app/json/json-to-yaml/JsonToYaml.tsx
  src/app/markdown/page.tsx
  src/app/placeholder/ImageWrapper.tsx
  src/app/placeholder/page.tsx
  src/app/qrcode/page.tsx
  src/app/random/page.tsx
  src/app/timestamp/page.tsx
  src/app/totp/page.tsx
  src/app/url/page.tsx
  src/app/writer/page.tsx
  src/app/yaml/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: uid
  package-lock.json
  package.json
  src/app/uid/page.tsx
  src/components/TextResultBox.tsx
  src/config/routes.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: uid
  src/app/uid/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: uid
  src/app/generator/id/page.tsx
  src/config/routes.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: uid
  src/app/bson-object-id/page.tsx
  src/app/bson/page.tsx
  src/config/routes.tsx
  src/layouts/defaultProps.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: uid
  src/app/generator/image/ImageWrapper.tsx
  src/app/generator/image/page.tsx
  src/components/placeholder/HrefLuImage.tsx
  src/config/routes.tsx
  src/layouts/defaultProps.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: uid
  src/app/generator/string/page.tsx
  src/config/routes.tsx
  src/layouts/defaultProps.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: uid
  src/layouts/defaultProps.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: v1.3.0
  package.json
Due: none

feat: router
  src/aio/Router.tsx
  src/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: init next
  .gitignore
  next.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: eslint src --fix, prettier --write --ignore-unknown

feat: init next
  package.json
  src/app/layout.tsx
  src/app/loading.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  tsconfig.json
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: init next
  .eslintrc.js
  package.json
  src/app/code-formatter/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/layouts/NextLayout.tsx
Due: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

feat: init next
  next.config.js
  src/app/excel/page.tsx
  src/app/yaml/YamlToJson.tsx
Due: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

feat: init next
  package-lock.json
  package.json
  src/app/generator/id/page.tsx
  src/app/json/json-editor/page.tsx
  src/app/json/json-to-excel/page.tsx
  src/app/json/json-to-yaml/page.tsx
  src/app/markdown/page.tsx
  src/app/writer/page.tsx
  src/config/routes.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: init next
  craco.config.js
  package-lock.json
  package.json
  src/aio/i18n.ts
  src/app/json/json-to-excel/page.tsx
  src/app/layout.tsx
  src/config/locale.ts
  src/config/routes.tsx
  src/index.tsx
  src/layouts/BaseLayout.tsx
  src/layouts/NextLayout.tsx
  src/service-worker.ts
  src/serviceWorkerRegistration.ts
  src/stores/LocaleStore.ts
Due: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

feat: init next
  src/app/json/json-to-yaml/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: init next
  .eslintrc.js
  package-lock.json
  package.json
  src/app/(default)/base64/page.tsx
  src/app/(default)/code-formatter/page.tsx
  src/app/(default)/doc-editor/page.tsx
  src/app/(default)/excel/page.tsx
  src/app/(default)/generator/id/page.tsx
  src/app/(default)/generator/image/ImageWrapper.tsx
  src/app/(default)/generator/image/page.tsx
  src/app/(default)/generator/string/page.tsx
  src/app/(default)/hash/page.tsx
  src/app/(default)/json/json-editor/JsonEditor.tsx
  src/app/(default)/json/json-editor/page.tsx
  src/app/(default)/json/json-to-excel/page.tsx
  src/app/(default)/json/json-to-yaml/page.tsx
  src/app/(default)/layout.tsx
  src/app/(default)/markdown/page.tsx
  src/app/(default)/qrcode/page.tsx
  src/app/(default)/timestamp/page.tsx
  src/app/(default)/totp/AccountList.tsx
  src/app/(default)/totp/DetailInfo.tsx
  src/app/(default)/totp/TokenField.tsx
  src/app/(default)/totp/TotpCard.tsx
  src/app/(default)/totp/page.tsx
  src/app/(default)/totp/typings.d.ts
  src/app/(default)/url/page.tsx
  src/app/(default)/writer/page.tsx
  src/app/(default)/yaml/YamlToJson.tsx
  src/app/(default)/yaml/page.tsx
  src/app/layout.tsx
  src/components/placeholder/HrefLuImage.tsx
  src/layouts/BaseLayout.tsx
  tsconfig.json
Due: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

feat: init next
  src/models/Apps.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: init next
  .gitignore
  next.config.js
  package-lock.json
  package.json
  public/se.js
  public/se.js.map
  public/service-worker.js
  src/app/page.tsx
  tsconfig.json
Due: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

feat: init next
  public/se.js
  public/se.js.map
  public/service-worker.js
Due: eslint src --fix, prettier --write --ignore-unknown

feat: init next
  package.json
  public/service-worker.js
Due: eslint src --fix, prettier --write --ignore-unknown

feat: init next
  public/service-worker.js
Due: eslint src --fix, prettier --write --ignore-unknown

feat: init next
  .gitignore
Due: none

feat: init next
  .gitignore
  package.json
  public/service-worker.js.map
  src/app/(default)/layout.tsx
  src/app/(default)/totp/AccountList.tsx
  src/app/(default)/totp/DetailInfo.tsx
  src/app/(default)/totp/TokenField.tsx
  src/app/(default)/totp/TotpCard.tsx
  src/app/(default)/yaml/YamlToJson.tsx
  src/layouts/BaseLayout.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: v2.0.0
  package.json
Due: none

feat: sw
  public/service-worker.js.map
Due: none

fix: headerMenuREnder
  src/layouts/BaseLayout.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown
