Repository ysbjlzlx/toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, prettier --parser markdown --write --ignore-unknown, stylelint src/**/*.css

feat: github actions
  .github/workflows/deployment.yml
  .github/workflows/pull_request_check.yml
  package.json
  pnpm-lock.yaml
Due: none

feat: v2.9.0
  package.json
Due: none

feat: react upgrade
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: v2.9.1
  package.json
Due: none

fix: index page loading
  src/pages/page.tsx
  src/routes.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: v2.9.2
  package.json
Due: none

deploy: d9f69564b8e7d57d448f7785f89b5cdce273f110
  assets/LanguageSelect-Ds9m8x91.js
  assets/conversion-Bx9xjCSe.js
  assets/formatter-1sCzMke3.js
  assets/formatter-CqYoI0ah.js
  assets/index-BcuREQTf.js
  assets/index-Ducg07Q6.js
  assets/json-diff-CDqyLFxD.js
  assets/json-editor-DyBU6oOS.js
  assets/json-editor-e5omaT_V.js
  assets/json-formatter-BCFdH1Zt.js
  assets/json-formatter-B_A70QT5.js
  assets/page---ON54zz.js
  assets/page-2ITJw0Yr.js
  assets/page-BND_D8cX.js
  assets/page-BXDiZ0fM.js
  assets/page-BeqCnRZM.js
  assets/page-CC7kNxKe.js
  assets/page-CfcqKULS.js
  assets/page-CmVE3Wuw.js
  assets/page-Cvbx4ZHC.js
  assets/page-D6q80q_A.js
  assets/page-DCi-thg7.js
  assets/page-DY_N4NQn.js
  assets/page-FowJEPSu.js
  assets/page-_haFF1JZ.js
  assets/password-BbVygYuA.js
  assets/password-eiSBIFMZ.js
  assets/transform-B0cQUBC1.js
  assets/transform-nsK-IMaQ.js
  assets/ui-CRTNk3AX.js
  assets/ui-jbzpuYoL.js
  assets/user-pass-C6q4Bndv.js
  assets/user-pass-DSzaR7lG.js
  index.html
  sw.js
Due: eslint --fix, prettier --write --ignore-unknown

feat: password
  package.json
  pnpm-lock.yaml
  src/lib/random-string-utils.ts
  tests/unit/lib/random-string-utils.test.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

test: password
  tests/browser/page.browser.test.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: lock file
  pnpm-lock.yaml
Due: none

feat: postcss > tailwindcss/vite
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  vite.config.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add shadcn
  .zed/settings.json
  @/components/ui/button.tsx
  @/lib/utils.ts
  biome.json
  components.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/globals.css
  stylelint.config.js
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, stylelint src/**/*.css

feat: add shadcn
  @/lib/utils.ts
  components.json
  src/components/ui/button.tsx
  src/lib/utils.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: pnpm config
  pnpm-workspace.yaml
Due: none

feat: resolve github merge
  package.json
  pnpm-lock.yaml
Due: none

feat: add shadcn
  @/components/ui/button.tsx
  @/lib/utils.ts
  components.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar
  biome.json
  src/components/app-sidebar.tsx
  src/components/search-form.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/button.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/tooltip.tsx
  src/components/version-switcher.tsx
  src/hooks/use-mobile.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar
  src/main.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar
  src/app/page.tsx
  src/components/app-sidebar.tsx
  src/components/search-form.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/version-switcher.tsx
  src/routes.tsx
  tsconfig.json
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar
  src/components/app-sidebar.tsx
  src/components/sidebar-group-menu-render.tsx
  src/components/sidebar-menu-item-render.tsx
  src/typing.d.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar-08
  src/components/app-sidebar.tsx
  src/components/nav-main.tsx
  src/components/nav-projects.tsx
  src/components/nav-secondary.tsx
  src/components/nav-user.tsx
  src/components/ui/avatar.tsx
  src/components/ui/collapsible.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar-08
  src/components/app-sidebar.tsx
  src/components/nav-main.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar-08
  src/components/app-sidebar.tsx
  src/layouts/next-layout.tsx
  src/layouts/next-menu-data.tsx
  src/routes.tsx
  src/typing.d.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar-08
  src/components/nav-main.tsx
  src/layouts/next-menu-data.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar-08
  src/layouts/next-layout.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar-08
  src/layouts/full-container.tsx
  src/layouts/next-layout.tsx
  src/pages/json/json-formatter/index.tsx
  src/routes.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar-08
  src/routes.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar-08
  src/components/app-sidebar.tsx
  src/components/nav-main.tsx
  src/layouts/next-layout.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar-08
  src/pages/base64/page.tsx
  src/routes.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar-08
  src/pages/image/placeholder/page.tsx
  src/pages/image/qrcode/page.tsx
  src/routes.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar-08
  src/pages/code/conversion/index.tsx
  src/pages/code/formatter/index.tsx
  src/routes.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar-08
  src/pages/excel/page.tsx
  src/pages/generator/id/page.tsx
  src/pages/hash/page.tsx
  src/pages/password/index.tsx
  src/pages/string/index.tsx
  src/pages/timestamp/page.tsx
  src/pages/tiptap/page.tsx
  src/pages/totp/page.tsx
  src/pages/transform/index.tsx
  src/pages/url/page.tsx
  src/pages/user-pass/index.tsx
  src/pages/writer/page.tsx
  src/routes.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar-08
  src/pages/json/json-diff/index.tsx
  src/pages/json/json-editor/index.tsx
  src/routes.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar-08
  src/pages/markdown/vditor/index.tsx
  src/pages/markdown/xnote/index.tsx
  src/routes.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar-08
  src/app/page.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar-08
  src/components/FullContainer.tsx
  src/components/nav-main.tsx
  src/components/sidebar-group-menu-render.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add sidebar-08
  lefthook.yml
Due: none

Path conditions:
  eslint --fix: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  prettier --write --ignore-unknown: (any of: *.{js,jsx}) or (any of: *.css)
  prettier --parser typescript --write --ignore-unknown: any of: *.{ts,tsx}
  prettier --parser markdown --write --ignore-unknown: any of: *.md
  stylelint src/**/*.css: any of: *.css
