Repository ysbjlzlx/toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, prettier --parser markdown --write --ignore-unknown, stylelint src/**/*.css

feat: json
  src/pages/json/Json.tsx
  src/pages/json/JsonEditor.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: json
  src/pages/json/Json.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: json
  src/pages/json/Json.tsx
  src/stores/JsonTabStore.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: json
  package.json
  yarn.lock
Due: none

feat: json
  package.json
Due: none

feat: logo link
  src/layouts/NextLayout.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: activeKey
  src/pages/json/Json.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: yaml
  src/config/routes.tsx
  src/pages/formatter/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: xml
  package.json
  src/pages/formatter/index.tsx
  src/utils/formatter.ts
  yarn.lock
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: version 1.2.1
  package.json
Due: none

feat: pkg upgrade
  package.json
  yarn.lock
Due: none

feat: side bar icon rebuild
  src/layouts/defaultProps.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: yarn -> npm
  .github/workflows/deployment.yml
  .github/workflows/pull_request_check.yml
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: yarn -> npm
  .github/workflows/deployment.yml
  .github/workflows/pull_request_check.yml
Due: none

feat: pkg update
  package-lock.json
  package.json
Due: none

feat: release 1.2.2
  package.json
Due: none

feat: icon
  public/manifest.json
  src/models/Apps.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: icon
  package-lock.json
Due: none

feat: release 1.2.3
  package.json
Due: none

deploy: fdcb610b755c47a0130befa15b02a74b3211a132
  asset-manifest.json
  index.html
  manifest.json
  service-worker.js
  static/js/7970.a33eeafa.chunk.js
  static/js/7970.a33eeafa.chunk.js.map
  static/js/7970.c439bfe4.chunk.js
  static/js/7970.c439bfe4.chunk.js.map
  static/js/main.60ead52b.js
  static/js/main.60ead52b.js.map
  static/js/main.b491bc94.js
  static/js/main.b491bc94.js.LICENSE.txt
  static/js/main.b491bc94.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

feat: base64
  src/components/TextResultBox.tsx
  src/pages/Base64.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: base64
  src/pages/Base64.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: copy
  src/components/ContentCopyButton.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: copy
  package-lock.json
  package.json
  src/components/ContentCopyButton.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: 升级 pro-components
  package-lock.json
  package.json
  src/layouts/NextLayout.tsx
  src/layouts/defaultProps.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: 升级 pro-components
  src/layouts/BaseLayout.tsx
  src/layouts/NextLayout.bak.tsx
  src/layouts/PageLayout.tsx
  src/layouts/next-layout.css
Due: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, stylelint src/**/*.css

feat: 升级 pro-components
  src/layouts/NextLayout.tsx
  src/pages/Excel.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: 升级 pro-components
  src/components/ContentCopyButton.tsx
  src/components/TextResultBox.tsx
  src/pages/URL.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

Path conditions:
  eslint src --fix: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  prettier --write --ignore-unknown: (any of: *.{js,jsx}) or (any of: *.css)
  prettier --parser typescript --write --ignore-unknown: any of: *.{ts,tsx}
  prettier --parser markdown --write --ignore-unknown: any of: *.md
  stylelint src/**/*.css: any of: *.css
