Repository ysbjlzlx/toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "eslint src",
    "prettier --write --ignore-unknown"
  ],
  "*.{ts,tsx}": [
    "eslint src",
    "prettier --parser typescript --write --ignore-unknown"
  ],
  "*.{css,md}": "prettier --write --ignore-unknown"
}

feat: json update
  .lintstagedrc.json
  src/pages/QrCode.tsx
Due: eslint src, prettier --parser typescript --write --ignore-unknown

deploy: f9b8129d463a3556d1eb9e6f8a54b5841f582f05
  asset-manifest.json
  index.html
  static/js/958.9bbee2d0.chunk.js
  static/js/958.9bbee2d0.chunk.js.map
  static/js/958.cf3dd9fc.chunk.js
  static/js/958.cf3dd9fc.chunk.js.map
  static/js/main.89434915.js
  static/js/main.89434915.js.LICENSE.txt
  static/js/main.89434915.js.map
  static/js/main.8adaba98.js
  static/js/main.8adaba98.js.map
Due: eslint src, prettier --write --ignore-unknown

feat: json update
  .eslintignore
  .eslintrc.js
  package-lock.json
  package.json
Due: eslint src, prettier --write --ignore-unknown

feat: bson
  package-lock.json
  package.json
  src/models/Apps.ts
  src/pages/BSONObjectID.tsx
  src/router/routes.tsx
Due: eslint src, prettier --parser typescript --write --ignore-unknown

deploy: a39beb66c52619f7e35b41119cd2a30d42bd302d
  asset-manifest.json
  index.html
  static/js/142.1ea6d1c0.chunk.js
  static/js/142.1ea6d1c0.chunk.js.map
  static/js/142.461f58f9.chunk.js
  static/js/142.461f58f9.chunk.js.map
  static/js/192.229a73df.chunk.js
  static/js/192.229a73df.chunk.js.map
  static/js/192.3acee17d.chunk.js
  static/js/192.3acee17d.chunk.js.LICENSE.txt
  static/js/192.3acee17d.chunk.js.map
  static/js/538.a26ac1f5.chunk.js
  static/js/538.a26ac1f5.chunk.js.map
  static/js/538.b3b68aaf.chunk.js
  static/js/538.b3b68aaf.chunk.js.map
  static/js/768.ded58624.chunk.js
  static/js/768.ded58624.chunk.js.map
  static/js/951.1f59c7bb.chunk.js
  static/js/951.1f59c7bb.chunk.js.map
  static/js/951.b19c623b.chunk.js
  static/js/951.b19c623b.chunk.js.LICENSE.txt
  static/js/951.b19c623b.chunk.js.map
  static/js/main.89434915.js
  static/js/main.89434915.js.map
  static/js/main.f82566b2.js
  static/js/main.f82566b2.js.LICENSE.txt
  static/js/main.f82566b2.js.map
Due: eslint src, prettier --write --ignore-unknown

style: reformat
  .eslintrc.js
  .prettierrc.js
  package-lock.json
  package.json
  src/components/ContentCopyAdornment.tsx
  src/components/ContentCopyButton.tsx
  src/components/RefreshAdornment.tsx
  src/components/VanillaJSONEditor.tsx
  src/index.tsx
  src/layouts/NextLayout.tsx
  src/models/Apps.ts
  src/pages/App.test.tsx
  src/pages/App.tsx
  src/pages/BSONObjectID.tsx
  src/pages/Base64.tsx
  src/pages/Code.tsx
  src/pages/CodeFormatter.tsx
  src/pages/Excel.tsx
  src/pages/Hash.tsx
  src/pages/JSON2Yaml.tsx
  src/pages/Loading.tsx
  src/pages/Markdown.tsx
  src/pages/PageNotFound.tsx
  src/pages/Placeholder.tsx
  src/pages/QrCode.tsx
  src/pages/Random.tsx
  src/pages/URL.tsx
  src/router/routes.tsx
  src/scripts/Random.ts
  src/scripts/RandomStringUtils.test.ts
  src/scripts/RandomStringUtils.ts
  src/stores/index.ts
Due: eslint src, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

feat: random
  src/pages/Random.tsx
Due: eslint src, prettier --parser typescript --write --ignore-unknown

feat: stylelint
  .eslintrc.js
  .stylelintrc.js
  package-lock.json
  package.json
Due: eslint src, prettier --write --ignore-unknown

feat: stylelint
  .lintstagedrc.json
  .prettierignore
  README.md
  package.json
Due: prettier --write --ignore-unknown

feat: ace
  package-lock.json
  package.json
  src/pages/CodeFormatter.tsx
Due: eslint src, prettier --parser typescript --write --ignore-unknown

feat: doc-editor
  package-lock.json
  package.json
  src/pages/DocEditor.tsx
  src/router/routes.tsx
Due: eslint src, prettier --parser typescript --write --ignore-unknown

deploy: 1369ae6fba5327f03936a3419035a4acef9619e2
  asset-manifest.json
  index.html
  static/js/135.185cb428.chunk.js
  static/js/135.185cb428.chunk.js.map
  static/js/178.2edd5f24.chunk.js
  static/js/178.2edd5f24.chunk.js.map
  static/js/178.bff4b118.chunk.js
  static/js/178.bff4b118.chunk.js.map
  static/js/main.056259fa.js
  static/js/main.056259fa.js.map
  static/js/main.fbe999e9.js
  static/js/main.fbe999e9.js.LICENSE.txt
  static/js/main.fbe999e9.js.map
Due: eslint src, prettier --write --ignore-unknown

feat: 占位图
  src/components/placeholder/DummyImage.tsx
  src/components/placeholder/HrefLuImage.tsx
  src/components/placeholder/PlaceholderImage.tsx
  src/components/placeholder/index.d.ts
  src/pages/PlaceholderImg.tsx
  src/router/routes.tsx
Due: eslint src, prettier --parser typescript --write --ignore-unknown

feat: 占位图
  package-lock.json
  package.json
  src/components/placeholder/DummyImage.tsx
  src/components/placeholder/HrefLuImage.tsx
  src/components/placeholder/PlaceholderImage.tsx
  src/pages/PlaceholderImg.tsx
Due: eslint src, prettier --parser typescript --write --ignore-unknown

deploy: 9d7607c083b045fb91a7f9055c36bc66daaae1cd
  asset-manifest.json
  index.html
  static/js/178.2edd5f24.chunk.js
  static/js/178.2edd5f24.chunk.js.map
  static/js/178.7d159568.chunk.js
  static/js/178.7d159568.chunk.js.map
  static/js/192.3acee17d.chunk.js
  static/js/192.3acee17d.chunk.js.map
  static/js/272.da969b79.chunk.js
  static/js/272.da969b79.chunk.js.LICENSE.txt
  static/js/272.da969b79.chunk.js.map
  static/js/538.a26ac1f5.chunk.js
  static/js/538.a26ac1f5.chunk.js.map
  static/js/579.3a7a31e4.chunk.js
  static/js/579.3a7a31e4.chunk.js.map
  static/js/579.fa7d1978.chunk.js
  static/js/579.fa7d1978.chunk.js.map
  static/js/761.3b800f17.chunk.js
  static/js/761.3b800f17.chunk.js.map
  static/js/819.1f54e304.chunk.js
  static/js/819.1f54e304.chunk.js.map
  static/js/832.9dbe38ce.chunk.js
  static/js/832.9dbe38ce.chunk.js.LICENSE.txt
  static/js/832.9dbe38ce.chunk.js.map
  static/js/886.c11573f5.chunk.js
  static/js/886.c11573f5.chunk.js.LICENSE.txt
  static/js/886.c11573f5.chunk.js.map
  static/js/907.594e2df7.chunk.js
  static/js/907.594e2df7.chunk.js.map
  static/js/933.2bff908b.chunk.js
  static/js/933.2bff908b.chunk.js.map
  static/js/933.65f9cf93.chunk.js
  static/js/933.65f9cf93.chunk.js.map
  static/js/951.b19c623b.chunk.js
  static/js/951.b19c623b.chunk.js.map
  static/js/main.6bd9e0c4.js
  static/js/main.6bd9e0c4.js.LICENSE.txt
  static/js/main.6bd9e0c4.js.map
  static/js/main.fbe999e9.js
  static/js/main.fbe999e9.js.map
Due: eslint src, prettier --write --ignore-unknown

feat: 占位图
  src/components/placeholder/DummyImage.tsx
  src/components/placeholder/HrefLuImage.tsx
  src/components/placeholder/PlaceholderImage.tsx
  src/components/placeholder/util.ts
Due: eslint src, prettier --parser typescript --write --ignore-unknown

feat: 占位图
  package-lock.json
  package.json
  src/pages/PlaceholderImg.tsx
Due: eslint src, prettier --parser typescript --write --ignore-unknown

feat: intpu color picker
  src/components/InputColorPicker.tsx
Due: eslint src, prettier --parser typescript --write --ignore-unknown

feat: 占位图
  package-lock.json
  package.json
  src/components/InputColorPicker.tsx
  src/pages/PlaceholderImg.tsx
Due: eslint src, prettier --parser typescript --write --ignore-unknown

feat: 占位图
  src/components/InputColorPicker.tsx
  src/pages/PlaceholderImg.tsx
Due: eslint src, prettier --parser typescript --write --ignore-unknown

deploy: fe984f973758837f5c7208159ca9e6bb44b4cb8d
  asset-manifest.json
  index.html
  static/js/199.6dff0c3c.chunk.js
  static/js/199.6dff0c3c.chunk.js.LICENSE.txt
  static/js/199.6dff0c3c.chunk.js.map
  static/js/595.bda7d7e1.chunk.js
  static/js/595.bda7d7e1.chunk.js.map
  static/js/748.ce75a23e.chunk.js
  static/js/748.ce75a23e.chunk.js.map
  static/js/816.274fedeb.chunk.js
  static/js/816.274fedeb.chunk.js.map
  static/js/main.37d2d380.js
  static/js/main.37d2d380.js.map
  static/js/main.9c54e2ed.js
  static/js/main.9c54e2ed.js.LICENSE.txt
  static/js/main.9c54e2ed.js.map
Due: eslint src, prettier --write --ignore-unknown

feat: clipboard.js
  package-lock.json
  package.json
  src/components/ContentCopyAdornment.tsx
Due: eslint src, prettier --parser typescript --write --ignore-unknown

feat: clipboard.js
  src/components/ContentCopyButton.tsx
Due: eslint src, prettier --parser typescript --write --ignore-unknown

feat: clipboard.js
  package-lock.json
  package.json
Due: none

feat: 升级 react
  package-lock.json
  package.json
  src/index.tsx
Due: eslint src, prettier --parser typescript --write --ignore-unknown

fix: clipboard type
  src/components/ContentCopyButton.tsx
Due: eslint src, prettier --parser typescript --write --ignore-unknown

feat: craco
  package-lock.json
  package.json
Due: none

feat: craco
  src/components/InputColorPicker.tsx
  src/pages/PlaceholderImg.tsx
Due: eslint src, prettier --parser typescript --write --ignore-unknown

deploy: 9cf9e0de4d333adf5b37f65c5f56a736e043e4c5
  asset-manifest.json
  index.html
  static/js/595.bda7d7e1.chunk.js
  static/js/595.bda7d7e1.chunk.js.map
  static/js/595.f4c71b36.chunk.js
  static/js/595.f4c71b36.chunk.js.map
  static/js/main.d212d275.js
  static/js/main.d212d275.js.map
  static/js/main.dcc536a9.js
  static/js/main.dcc536a9.js.LICENSE.txt
  static/js/main.dcc536a9.js.map
Due: eslint src, prettier --write --ignore-unknown

deploy: 0a14cc10ee514e92b418653b943e1be6b1aeac1d
  asset-manifest.json
  index.html
  static/js/199.15e5c815.chunk.js
  static/js/199.15e5c815.chunk.js.map
  static/js/199.6dff0c3c.chunk.js
  static/js/199.6dff0c3c.chunk.js.LICENSE.txt
  static/js/199.6dff0c3c.chunk.js.map
  static/js/main.4cc7caf4.js
  static/js/main.4cc7caf4.js.map
  static/js/main.dcc536a9.js
  static/js/main.dcc536a9.js.LICENSE.txt
  static/js/main.dcc536a9.js.map
Due: eslint src, prettier --write --ignore-unknown

deploy: 9199e53b62c2754e216c06c2d90cf79e06f6ab8f
  asset-manifest.json
  index.html
  static/js/199.15e5c815.chunk.js
  static/js/199.15e5c815.chunk.js.LICENSE.txt
  static/js/199.15e5c815.chunk.js.map
  static/js/199.6dff0c3c.chunk.js
  static/js/199.6dff0c3c.chunk.js.map
  static/js/755.8eea69ef.chunk.js
  static/js/755.8eea69ef.chunk.js.map
  static/js/755.f09d14a4.chunk.js
  static/js/755.f09d14a4.chunk.js.map
  static/js/main.105338a1.js
  static/js/main.105338a1.js.LICENSE.txt
  static/js/main.105338a1.js.map
  static/js/main.b0a4b62d.js
  static/js/main.b0a4b62d.js.map
Due: eslint src, prettier --write --ignore-unknown

feat: mv renovate
  .github/renovate.json
Due: none

feat: rebuild work flow
  .github/renovate.json
  .github/workflows/deployment.yml
  .github/workflows/pull_request_check.yml
Due: none
