Repository ysbjlzlx/toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, prettier --parser markdown --write --ignore-unknown, stylelint src/**/*.css

feat: pkg upgrade
  .ncurc.json
  package.json
  pnpm-lock.yaml
Due: none

feat: pkg upgrade
  biome.json
  package.json
Due: none

Revert "fix(deps): update dependency @ant-design/pro-components to v2.8.4 (#2…"
  package.json
  pnpm-lock.yaml
Due: none

Revert "fix(deps): update dependency @ant-design/pro-components to v2.8.4 (#2…" (#2077)
  package.json
  pnpm-lock.yaml
Due: none

feat: upgrade @ant-design/pro-component
  package.json
  patches/@ant-design__pro-provider.patch
  pnpm-lock.yaml
  src/globals.css
Due: prettier --write --ignore-unknown, stylelint src/**/*.css

feat: upgrade @ant-design/pro-component
  .github/renovate.json
  .ncurc.json
Due: none

feat: icons
  package.json
  pnpm-lock.yaml
Due: none

feat: github workflow node-version upgrade to 22
  .github/workflows/deployment.yml
  .github/workflows/pull_request_check.yml
Due: none

feat: tailwindcss
  biome.json
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  postcss.config.mjs
  src/globals.css
  stylelint.config.js
  tailwind.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, stylelint src/**/*.css

feat: tailwindcss
  package.json
  pnpm-lock.yaml
Due: none

feat: remove diff
  src/layouts/defaultProps.tsx
  src/pages/code/diff/index.tsx
  src/routes.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: remove diff
  package.json
  pnpm-lock.yaml
Due: none

feat: remove diff
  src/layouts/BaseLayout.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

fix: form
  src/pages/totp/DetailInfo.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add @ant-design/pro-provider
  package.json
  pnpm-lock.yaml
Due: none

feat: pkg update
  package.json
  pnpm-lock.yaml
Due: none

feat: pkg update
  package.json
Due: none

feat: pkg update
  package.json
  pnpm-lock.yaml
  src/pages/code/conversion/index.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: chunks
  vite.config.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: chunks
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: chunks
  package.json
  pnpm-lock.yaml
Due: none

feat: 2.7.0
  package.json
Due: none

feat: remove md-editor
  package.json
  pnpm-lock.yaml
  src/layouts/defaultProps.tsx
  src/pages/markdown/md-editor/index.tsx
  src/routes.tsx
  vite.config.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: v2.7.1
  package.json
Due: none

feat: vite8
  package.json
  pnpm-lock.yaml
Due: none

feat: vite8
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: vite8
  vite.config.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: vite8
  package.json
  pnpm-lock.yaml
  src/pages/code/conversion/index.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: vite8
  src/components/Loading/index.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

Path conditions:
  eslint --fix: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  prettier --write --ignore-unknown: (any of: *.{js,jsx}) or (any of: *.css)
  prettier --parser typescript --write --ignore-unknown: any of: *.{ts,tsx}
  prettier --parser markdown --write --ignore-unknown: any of: *.md
  stylelint src/**/*.css: any of: *.css
