Repository ysbjlzlx/toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, prettier --parser markdown --write --ignore-unknown, stylelint src/**/*.css

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "eslint src --fix",
    "prettier --write --ignore-unknown"
  ],
  "*.{ts,tsx}": [
    "eslint src --fix",
    "prettier --parser typescript --write --ignore-unknown"
  ],
  "*.md": "prettier --parser markdown --write --ignore-unknown",
  "*.css": [
    "stylelint src/**/*.css",
    "prettier --write --ignore-unknown"
  ]
}

feat: code formatter
  src/pages/code-formatter/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: code formatter
  src/pages/code-formatter/index.tsx
  tailwind.config.ts
  vite.config.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: code formatter
  src/pages/code-formatter/index.tsx
  src/pages/format-conversion/page.tsx
  src/pages/json/json-editor/index.tsx
  src/pages/markdown/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: code formatter
  src/pages/format-conversion/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: code formatter
  src/pages/page.tsx
  src/pages/totp/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: apps
  src/models/Apps.tsx
  src/pages/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: pkg update
  .prettierrc.cjs
  prettier.config.js
  src/pages/markdown/index.tsx
  stylelint.config.js
Due: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

feat: pkg update
  .lintstagedrc.json
  lint-staged.config.js
  src/layouts/BaseLayout.tsx
Due: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

feat: pkg update
  .lintstagedrc.json
  lint-staged.config.js
  package.json
Due: eslint src --fix, prettier --write --ignore-unknown

feat: pkg update
  lint-staged.config.js
Due: eslint src --fix, prettier --write --ignore-unknown

feat: 菜单添加富文本编辑器
  src/layouts/defaultProps.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: quil 富文本编辑器
  src/pages/writer/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: tiptap
  package-lock.json
  package.json
  src/pages/tiptap/page.tsx
  src/router/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: tiptap
  package-lock.json
  package.json
  src/pages/tiptap/page.tsx
  tailwind.config.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: pkg update
  package-lock.json
  package.json
Due: none

feat: image
  src/pages/generator/image/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: color
  package-lock.json
  package.json
  src/pages/generator/image/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: xlsx
  package-lock.json
  package.json
Due: none

feat: transform
  src/pages/transform/index.tsx
  src/router/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: transform
  src/main.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: transform
  package-lock.json
  package.json
  src/layouts/defaultProps.tsx
  src/pages/transform/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: lazy
  src/pages/base64/page.tsx
  src/pages/code-formatter/index.tsx
  src/pages/doc-editor/page.tsx
  src/pages/json/json-editor/index.tsx
  src/pages/page.tsx
  src/router/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: lazy
  src/pages/excel/page.tsx
  src/pages/format-conversion/page.tsx
  src/pages/generator/id/page.tsx
  src/router/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: lazy
  src/pages/generator/image/page.tsx
  src/pages/generator/string/page.tsx
  src/pages/hash/page.tsx
  src/pages/json/json-to-excel/page.tsx
  src/router/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: lazy
  src/pages/markdown/index.tsx
  src/pages/qrcode/page.tsx
  src/pages/timestamp/page.tsx
  src/pages/tiptap/page.tsx
  src/pages/totp/page.tsx
  src/router/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: lazy
  src/pages/url/page.tsx
  src/pages/writer/page.tsx
  src/router/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: lazy
  src/main.tsx
  src/routes/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: lazy
  src/pages/page.test.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: lazy
  src/pages/excel/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: lazy
  src/components/TextResultBox.tsx
  src/pages/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: clear pkg
  package-lock.json
  package.json
Due: none

feat: clear pkg
  src/pages/json/json-editor/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: clear pkg
  src/pages/url/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: tiptap
  package-lock.json
  package.json
  src/pages/tiptap/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: icon
  src/layouts/defaultProps.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: router
  src/main.tsx
  src/router.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: test
  .husky/.gitignore
Due: none

feat: upgrade husky
  .husky/pre-commit
  package-lock.json
  package.json
Due: none
