Repository ysbjlzlx/toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, prettier --parser markdown --write --ignore-unknown, stylelint src/**/*.css

feat: json 标签
  src/pages/json/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rename package
  src/config/routes.tsx
  src/pages/totp/AccountList.tsx
  src/pages/totp/DetailInfo.tsx
  src/pages/totp/TokenField.tsx
  src/pages/totp/TotpCard.tsx
  src/pages/totp/index.tsx
  src/pages/totp/typings.d.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rename package
  src/config/routes.tsx
  src/pages/json/JsonEditor.tsx
  src/pages/json/JsonToYaml.tsx
  src/pages/json/index.tsx
  src/pages/yaml/YamlToJson.tsx
  src/pages/yaml/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rename package
  src/config/routes.tsx
  src/models/Apps.ts
  src/pages/json/index.tsx
  src/pages/yaml/YamlToJson.tsx
  src/pages/yaml/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rename package
  src/config/routes.tsx
  src/models/Apps.ts
  src/pages/bson/BsonObjectId.tsx
  src/pages/bson/index.tsx
  src/pages/json/JsonToYaml.tsx
  src/pages/yaml/YamlToJson.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rename package
  src/pages/json/JsonToYaml.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: tabs
  src/pages/json/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: json 标签
  src/config/routes.tsx
  src/pages/json/index.new.tsx
  src/pages/json/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: json 标签
  src/pages/json/JsonToYaml.tsx
  src/pages/json/index.new.tsx
  src/pages/yaml/YamlToJson.tsx
  src/pages/yaml/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

deploy: 7bbf6c593c9e86ee8831c9de1c7c2c367629b5dd
  asset-manifest.json
  index.html
  service-worker.js
  static/js/377.d9fba0e8.chunk.js
  static/js/377.d9fba0e8.chunk.js.map
  static/js/377.f22d2550.chunk.js
  static/js/377.f22d2550.chunk.js.LICENSE.txt
  static/js/377.f22d2550.chunk.js.map
  static/js/640.2b2de043.chunk.js
  static/js/640.2b2de043.chunk.js.map
  static/js/640.7a571417.chunk.js
  static/js/640.7a571417.chunk.js.map
  static/js/main.1f912df0.js
  static/js/main.1f912df0.js.LICENSE.txt
  static/js/main.1f912df0.js.map
  static/js/main.7321a15b.js
  static/js/main.7321a15b.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

feat: package update
  package.json
  pnpm-lock.yaml
Due: none

deploy: 7f2d24a7bde9efd2da8193f950545b2ab108bfa3
  asset-manifest.json
  index.html
  service-worker.js
  static/js/640.2b2de043.chunk.js
  static/js/640.2b2de043.chunk.js.map
  static/js/640.eebf98da.chunk.js
  static/js/640.eebf98da.chunk.js.map
  static/js/783.051b07cb.chunk.js
  static/js/783.051b07cb.chunk.js.map
  static/js/783.a72df70c.chunk.js
  static/js/783.a72df70c.chunk.js.map
  static/js/main.1f912df0.js
  static/js/main.1f912df0.js.map
  static/js/main.bb8555c0.js
  static/js/main.bb8555c0.js.LICENSE.txt
  static/js/main.bb8555c0.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

feat: i18n
  package.json
  pnpm-lock.yaml
  public/locales/en/translation.json
  public/locales/zh-Hans/translation.json
  src/aio/i18n.ts
  src/config/locale.ts
  src/index.tsx
  src/pages/json/index.new.tsx
  src/pages/json/index.tsx
  src/stores/LocaleStore.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: i18n
  src/config/locale.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

deploy: d1d7b9cf90ffbbd50e2eddbc39ed7efa2a1cf186
  asset-manifest.json
  index.html
  service-worker.js
  static/js/main.298d1a37.js
  static/js/main.298d1a37.js.map
  static/js/main.7f56a532.js
  static/js/main.7f56a532.js.LICENSE.txt
  static/js/main.7f56a532.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

deploy: ec3f437794e003935dc9f65ea5d3a12c1c3bedc2
  asset-manifest.json
  index.html
  service-worker.js
  static/js/303.224aa841.chunk.js
  static/js/303.224aa841.chunk.js.map
  static/js/535.11e8cfb7.chunk.js
  static/js/535.11e8cfb7.chunk.js.map
  static/js/535.2603724b.chunk.js
  static/js/535.2603724b.chunk.js.map
  static/js/861.b63cb4f4.chunk.js
  static/js/861.b63cb4f4.chunk.js.map
  static/js/861.ef095ff1.chunk.js
  static/js/861.ef095ff1.chunk.js.map
  static/js/882.ae968a13.chunk.js
  static/js/882.ae968a13.chunk.js.LICENSE.txt
  static/js/882.ae968a13.chunk.js.map
  static/js/main.7f56a532.js
  static/js/main.7f56a532.js.map
  static/js/main.f3aef6f5.js
  static/js/main.f3aef6f5.js.LICENSE.txt
  static/js/main.f3aef6f5.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

feat: json & yaml
  src/config/routes.tsx
  src/pages/json/Json.tsx
  src/pages/json/index.tsx
  src/pages/yaml/Yaml.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

deploy: 9108ec5b2d53243f8ef1ebf40465e2e1858821aa
  asset-manifest.json
  index.html
  service-worker.js
  static/js/181.febf3f26.chunk.js
  static/js/181.febf3f26.chunk.js.LICENSE.txt
  static/js/181.febf3f26.chunk.js.map
  static/js/401.7c263ebc.chunk.js
  static/js/401.7c263ebc.chunk.js.map
  static/js/640.97af5a14.chunk.js
  static/js/640.97af5a14.chunk.js.map
  static/js/809.98f928da.chunk.js
  static/js/809.98f928da.chunk.js.map
  static/js/main.d8b7d1fb.js
  static/js/main.d8b7d1fb.js.LICENSE.txt
  static/js/main.d8b7d1fb.js.map
  static/js/main.f3aef6f5.js
  static/js/main.f3aef6f5.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

deploy: 5ca127b9f031dfdf8423fa0a593d01c860ea5cef
  static/js/main.d8b7d1fb.js.map
Due: none

feat: json to excel
  package.json
  pnpm-lock.yaml
  src/models/Apps.ts
  src/pages/json/Json.tsx
  src/pages/json/JsonToExcel.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: json to excel
  src/pages/json/JsonToExcel.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: package
  package.json
  pnpm-lock.yaml
  src/pages/json/Json.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: workflow
  .github/workflows/deployment.yml
  .github/workflows/pull_request_check.yml
Due: none

feat: cache
  .github/workflows/deployment.yml
Due: none

feat: workflows
  .github/workflows/deployment.yml
Due: none

deploy: 04d3e4177a950d54ece614866674ab549fa67b2c
  static/js/main.fc1a7950.js.map
Due: none

feat: package upgrade
  package.json
  pnpm-lock.yaml
Due: none

feat: ga
  public/index.html
Due: none

deploy: bc91a8d87633829576bf16edd8083a435ea0733d
  index.html
  service-worker.js
Due: eslint src --fix, prettier --write --ignore-unknown

feat: json height
  src/pages/json/Json.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

Path conditions:
  eslint src --fix: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  prettier --write --ignore-unknown: (any of: *.{js,jsx}) or (any of: *.css)
  prettier --parser typescript --write --ignore-unknown: any of: *.{ts,tsx}
  prettier --parser markdown --write --ignore-unknown: any of: *.md
  stylelint src/**/*.css: any of: *.css
