Repository ysbjlzlx/toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, prettier --parser markdown --write --ignore-unknown, stylelint src/**/*.css

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "eslint src --fix",
    "prettier --write --ignore-unknown"
  ],
  "*.{ts,tsx}": [
    "eslint src --fix",
    "prettier --parser typescript --write --ignore-unknown"
  ],
  "*.md": "prettier --parser markdown --write --ignore-unknown",
  "*.css": [
    "stylelint src/**/*.css",
    "prettier --write --ignore-unknown"
  ]
}

feat: input color picker
  src/components/InputColorPicker.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: input color picker
  src/components/ColorPickerAdornment.tsx
  src/components/InputColorPicker.tsx
  src/pages/PlaceholderImg.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

Develop (#10)
  src/components/ColorPickerAdornment.tsx
  src/components/InputColorPicker.tsx
  src/pages/PlaceholderImg.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: replace webpack with vite
  .prettierignore
  craco.config.js
  index.html
  jest.config.js
  package-lock.json
  package.json
  public/index.html
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

feat: pwa
  package-lock.json
  package.json
  vite.config.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

Develop (#11)
  .prettierignore
  craco.config.js
  index.html
  jest.config.js
  package-lock.json
  package.json
  public/index.html
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

deploy: 81ba02de9ec5d8a18d45ef26d3d06a788ee91cb4
  sw.js.map
Due: none

feat: rebuild package version
  package.json
Due: none

deploy: 82ce3a888fbf45107e4f36aa67fa4f7f5d896c91
  sw.js.map
Due: none

feat: rebuild package version
  .github/renovate.json
Due: none

deploy: 3efb2a0035977dbe8fd6e383d2b261e96b47cdfd
  sw.js.map
Due: none

deploy: 97c189f6ab8e89c7d8ffee73ab3d8a8ac3d8834a
  assets/index.3f50eb0e.js.map
  sw.js.map
Due: none

deploy: 1763d1c1c4353e9553afaec1e6f458654b15e78d
  sw.js.map
Due: none

feat: renovate
  .github/renovate.json
Due: none

deploy: 25511387a607f087c79d25e3d4c0ea1bb146d208
  asset-manifest.json
  index.html
  static/js/114.268a7739.chunk.js
  static/js/114.268a7739.chunk.js.map
  static/js/114.50b54bcb.chunk.js
  static/js/114.50b54bcb.chunk.js.LICENSE.txt
  static/js/114.50b54bcb.chunk.js.map
  static/js/355.685f05de.chunk.js
  static/js/355.685f05de.chunk.js.LICENSE.txt
  static/js/355.685f05de.chunk.js.map
  static/js/355.fb57e575.chunk.js
  static/js/355.fb57e575.chunk.js.map
  static/js/419.07aa57ea.chunk.js
  static/js/419.07aa57ea.chunk.js.map
  static/js/419.f681aeef.chunk.js
  static/js/419.f681aeef.chunk.js.map
  static/js/742.230555c5.chunk.js
  static/js/742.230555c5.chunk.js.map
  static/js/742.23ecb754.chunk.js
  static/js/742.23ecb754.chunk.js.map
  static/js/889.207bc7e0.chunk.js
  static/js/889.207bc7e0.chunk.js.map
  static/js/889.3f4b5ec1.chunk.js
  static/js/889.3f4b5ec1.chunk.js.map
  static/js/main.1400adff.js
  static/js/main.1400adff.js.map
  static/js/main.a4364a07.js
  static/js/main.a4364a07.js.LICENSE.txt
  static/js/main.a4364a07.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

feat: pwa
  .eslintignore
  package-lock.json
  package.json
  src/index.tsx
  src/service-worker.ts
  src/serviceWorkerRegistration.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

deploy: df4196ac090a4d41aebbefb0ddef1e5c09bc71a4
  asset-manifest.json
  index.html
  service-worker.js
  service-worker.js.LICENSE.txt
  service-worker.js.map
  static/js/main.a4364a07.js
  static/js/main.a4364a07.js.map
  static/js/main.df8239e1.js
  static/js/main.df8239e1.js.LICENSE.txt
  static/js/main.df8239e1.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

feat: code
  src/pages/code/extensions/WordCounter.ts
  src/pages/code/index.tsx
  src/router/routes.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

deploy: 89693395e3256a5d78c6f3a794518a737e079fe1
  asset-manifest.json
  index.html
  service-worker.js
  service-worker.js.map
  static/js/626.a8b05c07.chunk.js
  static/js/626.a8b05c07.chunk.js.map
  static/js/8.0cbc5372.chunk.js
  static/js/8.0cbc5372.chunk.js.map
  static/js/main.d486810f.js
  static/js/main.d486810f.js.LICENSE.txt
  static/js/main.d486810f.js.map
  static/js/main.df8239e1.js
  static/js/main.df8239e1.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

deploy: 3b22a0d5aa0b9cffa6eddfced3c63b52d696228b
  asset-manifest.json
  index.html
  service-worker.js
  static/js/135.a10a3a82.chunk.js
  static/js/135.a10a3a82.chunk.js.map
  static/js/135.c1ad00d0.chunk.js
  static/js/135.c1ad00d0.chunk.js.map
  static/js/main.165759e6.js
  static/js/main.165759e6.js.LICENSE.txt
  static/js/main.165759e6.js.map
  static/js/main.d486810f.js
  static/js/main.d486810f.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

deploy: d89696ce9bc6a990e474038b9f589d6fd3cb261b
  asset-manifest.json
  index.html
  service-worker.js
  static/js/755.8eea69ef.chunk.js
  static/js/755.8eea69ef.chunk.js.map
  static/js/755.b2776fc7.chunk.js
  static/js/755.b2776fc7.chunk.js.map
  static/js/main.165759e6.js
  static/js/main.165759e6.js.map
  static/js/main.8ed397ca.js
  static/js/main.8ed397ca.js.LICENSE.txt
  static/js/main.8ed397ca.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

deploy: f79dacaf062ace3b26e6d73ed776e1b569b317d9
  asset-manifest.json
  index.html
  service-worker.js
  static/js/755.3768c248.chunk.js
  static/js/755.3768c248.chunk.js.map
  static/js/755.f2a9e48e.chunk.js
  static/js/755.f2a9e48e.chunk.js.map
  static/js/main.7316ca88.js
  static/js/main.7316ca88.js.LICENSE.txt
  static/js/main.7316ca88.js.map
  static/js/main.a17e3b22.js
  static/js/main.a17e3b22.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

feat: json localstorage
  package-lock.json
  package.json
  src/pages/JSON.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

deploy: a9ab16d3103c4ece51dc8e99bc300fc244520a7c
  asset-manifest.json
  index.html
  service-worker.js
  static/js/289.52e6ce4a.chunk.js
  static/js/289.52e6ce4a.chunk.js.map
  static/js/289.8df52a25.chunk.js
  static/js/289.8df52a25.chunk.js.LICENSE.txt
  static/js/289.8df52a25.chunk.js.map
  static/js/371.6b2838e7.chunk.js
  static/js/371.6b2838e7.chunk.js.map
  static/js/371.867463cf.chunk.js
  static/js/371.867463cf.chunk.js.LICENSE.txt
  static/js/371.867463cf.chunk.js.map
  static/js/main.626e84a0.js
  static/js/main.626e84a0.js.map
  static/js/main.bf221f45.js
  static/js/main.bf221f45.js.LICENSE.txt
  static/js/main.bf221f45.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

feat: 尝试添加快捷键（失败）
  src/pages/code/extensions/KeyBinds.ts
  src/pages/code/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

deploy: e6e946c5d1ff821fa7556165d9648c2e25de9f56
  asset-manifest.json
  index.html
  service-worker.js
  service-worker.js.map
  static/js/109.6746e83d.chunk.js
  static/js/109.6746e83d.chunk.js.map
  static/js/755.f2a9e48e.chunk.js
  static/js/755.f2a9e48e.chunk.js.map
  static/js/784.4d4830ed.chunk.js
  static/js/784.4d4830ed.chunk.js.map
  static/js/8.0cbc5372.chunk.js
  static/js/8.0cbc5372.chunk.js.map
  static/js/main.944bdecc.js
  static/js/main.944bdecc.js.LICENSE.txt
  static/js/main.944bdecc.js.map
  static/js/main.bf221f45.js
  static/js/main.bf221f45.js.map
Due: eslint src --fix, prettier --write --ignore-unknown
