Repository ysbjlzlx/toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, prettier --parser markdown --write --ignore-unknown, stylelint src/**/*.css

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "eslint src --fix",
    "prettier --write --ignore-unknown"
  ],
  "*.{ts,tsx}": [
    "eslint src --fix",
    "prettier --parser typescript --write --ignore-unknown"
  ],
  "*.md": "prettier --parser markdown --write --ignore-unknown",
  "*.css": [
    "stylelint src/**/*.css",
    "prettier --write --ignore-unknown"
  ]
}

fix: menu
  next.config.js
  src/layouts/BaseLayout.tsx
  src/layouts/defaultProps.tsx
Due: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

fix: QRCode
  src/app/(default)/qrcode/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

fix: encode
  src/app/(default)/base64/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

fix: encode
  package-lock.json
  package.json
  src/app/(default)/base64/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

fix: encode
  package-lock.json
  package.json
  src/app/(default)/base64/page.tsx
  src/lib/BaseEncoder.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

fix: pkg update
  package.json
Due: none

feat: prettier upgrade
  package-lock.json
  package.json
  src/app/(default)/code-formatter/page.tsx
  src/app/(default)/json/json-to-yaml/page.tsx
  src/app/(default)/yaml/YamlToJson.tsx
  src/utils/formatter.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: prettier upgrade
  src/app/(default)/generator/string/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: pkg update
  package-lock.json
  package.json
Due: none

feat: add iconify
  package-lock.json
  package.json
  src/components/Iconify/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rm icon
  package-lock.json
  package.json
  src/app/(default)/generator/string/page.tsx
  src/app/(default)/timestamp/page.tsx
  src/components/ContentCopyButton.tsx
  src/layouts/defaultProps.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rm icon
  package-lock.json
  package.json
  src/app/(default)/totp/DetailInfo.tsx
  src/components/ColorPickerAdornment.tsx
  src/components/ContentCopyAdornment.tsx
  src/components/RefreshAdornment.tsx
  src/layouts/defaultProps.tsx
  src/models/Apps.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: tabs
  package-lock.json
  package.json
  src/app/(default)/json/json-editor/page.tsx
  src/app/layout.tsx
  src/lib/AntdRegistry.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: tabs
  src/app/(default)/json/json-editor/page.tsx
  src/app/layout.tsx
  src/layouts/BaseLayout.tsx
  src/models/Apps.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: v2.1.0
  package.json
Due: none

feat: rm mui
  src/app/(default)/base64/page.tsx
  src/app/(default)/code-formatter/page.tsx
  src/app/(default)/generator/image/page.tsx
  src/app/(default)/hash/page.tsx
  src/app/(default)/json/json-to-excel/page.tsx
  src/app/(default)/qrcode/page.tsx
  src/app/(default)/timestamp/page.tsx
  src/app/(default)/totp/page.tsx
  src/app/(default)/writer/page.tsx
  src/app/loading.tsx
  src/app/page.tsx
  src/components/VanillaJSONEditor.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: ddd
  src/app/(default)/excel/page.tsx
  src/app/(default)/json/json-to-yaml/page.tsx
  src/app/(default)/totp/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rm mui
  src/app/(default)/markdown/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rm mui
  src/app/(default)/json/json-to-yaml/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rm mui
  src/app/(default)/url/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rm mui
  src/app/(default)/yaml/YamlToJson.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/components/Block.tsx
  src/config/global-theme.ts
Due: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, stylelint src/**/*.css

feat: rm mui
  .stylelintrc.js
  src/app/(default)/yaml/YamlToJson.tsx
Due: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

feat: rm mui
  src/components/ColorPickerAdornment.tsx
  src/components/CopyButtonWrapper.tsx
  src/components/RefreshAdornment.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rm mui
  src/app/(default)/yaml/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rm mui
  src/app/(default)/totp/DetailInfo.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rm mui
  src/app/(default)/totp/AccountList.tsx
  src/app/(default)/totp/TotpCard.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rm mui
  src/app/(default)/totp/TokenField.tsx
  src/app/(default)/totp/TotpCard.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rm mui
  src/app/(default)/generator/string/page.tsx
  src/components/ContentCopyAdornment.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rm mui
  src/app/(default)/excel/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: rm mui
  package-lock.json
  package.json
Due: none

feat: err
  next.config.js
  src/app/(default)/json/json-to-yaml/page.tsx
Due: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

feat: v2.2.0
  package.json
Due: none
