Repository ysbjlzlx/toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, prettier --parser markdown --write --ignore-unknown, stylelint src/**/*.css

feat: lab
  package.json
  pnpm-lock.yaml
Due: none

feat: json
  src/pages/json/Json.tsx
  src/pages/yaml/Yaml.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: json
  src/pages/json/Json.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: remove @mantine
  package.json
  pnpm-lock.yaml
Due: none

feat: Bson
  src/components/TabPanel.tsx
  src/config/routes.tsx
  src/pages/bson/Bson.tsx
  src/pages/bson/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: Bson
  src/pages/bson/Bson.tsx
  src/pages/bson/BsonObjectId.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: package upgrade
  package.json
  pnpm-lock.yaml
Due: none

deploy: 183ec9d22e0b08199115a6fbcea8c2166cbae279
  asset-manifest.json
  index.html
  service-worker.js
  service-worker.js.map
  static/js/148.42877687.chunk.js
  static/js/148.42877687.chunk.js.map
  static/js/180.9db84042.chunk.js
  static/js/180.9db84042.chunk.js.LICENSE.txt
  static/js/180.9db84042.chunk.js.map
  static/js/415.a2604d80.chunk.js
  static/js/415.a2604d80.chunk.js.map
  static/js/535.18ca1181.chunk.js
  static/js/535.18ca1181.chunk.js.map
  static/js/535.215cacb8.chunk.js
  static/js/535.215cacb8.chunk.js.map
  static/js/757.c4754282.chunk.js
  static/js/757.c4754282.chunk.js.map
  static/js/757.eaa3824e.chunk.js
  static/js/757.eaa3824e.chunk.js.map
  static/js/82.58104dbc.chunk.js
  static/js/82.58104dbc.chunk.js.map
  static/js/861.f6c97cb8.chunk.js
  static/js/861.f6c97cb8.chunk.js.map
  static/js/861.f8dcfa0c.chunk.js
  static/js/861.f8dcfa0c.chunk.js.map
  static/js/main.25751bc4.js
  static/js/main.25751bc4.js.LICENSE.txt
  static/js/main.25751bc4.js.map
  static/js/main.81acd65d.js
  static/js/main.81acd65d.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

feat: writter
  package.json
  pnpm-lock.yaml
  src/components/CopyButtonWrapper.tsx
  src/config/routes.tsx
  src/pages/Writer.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: tiny-mce
  src/pages/DocEditor.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

deploy: 51f4be9c1a4d07bbe6860410f8ab29d3fc92975f
  asset-manifest.json
  index.html
  service-worker.js
  static/js/933.1797aa10.chunk.js
  static/js/933.1797aa10.chunk.js.map
  static/js/933.28ef9804.chunk.js
  static/js/933.28ef9804.chunk.js.map
  static/js/main.228b4003.js
  static/js/main.228b4003.js.map
  static/js/main.92e18896.js
  static/js/main.92e18896.js.LICENSE.txt
  static/js/main.92e18896.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

feat: package update
  package.json
  pnpm-lock.yaml
Due: none

deploy: a33839a7bb8ac13fdb98fc35bd055526706cb062
  asset-manifest.json
  index.html
  service-worker.js
  static/js/476.1af9acc4.chunk.js
  static/js/476.1af9acc4.chunk.js.map
  static/js/476.d91ed2ba.chunk.js
  static/js/476.d91ed2ba.chunk.js.map
  static/js/main.92e18896.js
  static/js/main.92e18896.js.map
  static/js/main.bbffd8f9.js
  static/js/main.bbffd8f9.js.LICENSE.txt
  static/js/main.bbffd8f9.js.map
Due: eslint src --fix, prettier --write --ignore-unknown

feat: package update
  package.json
Due: none

feat: renovate 跟踪 develop 分支
  .github/renovate.json
Due: none

feat: 安装 antd
  package.json
  pnpm-lock.yaml
  src/layouts/PageLayout.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: code formatter
  src/config/routes.tsx
  src/pages/CodeFormatter.tsx
  src/pages/formatter/index.tsx
  src/utils/formatter.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: code formatter
  package.json
  pnpm-lock.yaml
  src/components/VanillaJSONEditor.tsx
  src/pages/json/JsonToYaml.tsx
  src/utils/formatter.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: json
  src/pages/json/JsonEditor.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

Develop (#180)
  .github/renovate.json
  package.json
  pnpm-lock.yaml
  src/components/VanillaJSONEditor.tsx
  src/config/routes.tsx
  src/layouts/PageLayout.tsx
  src/pages/CodeFormatter.tsx
  src/pages/formatter/index.tsx
  src/pages/json/JsonEditor.tsx
  src/pages/json/JsonToYaml.tsx
  src/utils/formatter.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

Develop (#183)
  package.json
  pnpm-lock.yaml
  src/pages/json/JsonEditor.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: pnpm.overrides
  package.json
  pnpm-lock.yaml
Due: none

feat: package
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint src --fix: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  prettier --write --ignore-unknown: (any of: *.{js,jsx}) or (any of: *.css)
  prettier --parser typescript --write --ignore-unknown: any of: *.{ts,tsx}
  prettier --parser markdown --write --ignore-unknown: any of: *.md
  stylelint src/**/*.css: any of: *.css
