Repository ysbjlzlx/toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, prettier --parser markdown --write --ignore-unknown, stylelint src/**/*.css

feat: ddd
  .eslintrc.js
  .lintstagedrc.json
  index.html
  next.config.js
  package-lock.json
  package.json
  src/app/(default)/base64/page.tsx
  src/app/(default)/code-formatter/page.tsx
  src/app/(default)/excel/page.tsx
  src/app/(default)/generator/image/page.tsx
  src/app/(default)/generator/string/page.tsx
  src/app/(default)/json/json-editor/page.tsx
  src/app/(default)/json/json-to-excel/page.tsx
  src/app/(default)/json/json-to-yaml/page.tsx
  src/app/(default)/layout.tsx
  src/app/(default)/markdown/page.tsx
  src/app/(default)/timestamp/page.tsx
  src/app/(default)/totp/page.tsx
  src/app/(default)/writer/page.tsx
  src/app/(default)/yaml/YamlToJson.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/CopyButtonWrapper.tsx
  src/config/dayjs.ts
  src/globals.css
  src/layouts/BaseLayout.tsx
  src/lib/AntdRegistry.tsx
  src/locale/index.ts
  src/main.tsx
  src/router/index.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, stylelint src/**/*.css

feat: vite
  vite.config.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: vite
  package-lock.json
  package.json
Due: none

feat: v2.3.0
  package.json
Due: none

feat: image
  src/components/placeholder/DummyImage.tsx
  src/components/placeholder/PlaceholderImage.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: v2.3.1
  package.json
Due: none

feat: pkg update
  package-lock.json
  package.json
Due: none

feat: pkg update
  src/pages/generator/image/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: jsoneditor
  src/pages/json/json-editor/index.css
  src/pages/json/json-editor/index.tsx
  src/router/index.tsx
  vite.config.ts
Due: eslint src --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, stylelint src/**/*.css

feat: jsoneditor
  src/pages/excel/page.tsx
  src/pages/json/json-to-yaml/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: jsoneditor
  src/globals.css
Due: prettier --write --ignore-unknown, stylelint src/**/*.css

feat: prettier
  src/utils/formatter.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: v2.3.2
  package.json
Due: none

feat: vditor
  package-lock.json
  package.json
  src/pages/markdown/index.tsx
  src/router/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: 格式化支持 groovy
  package-lock.json
  package.json
  src/pages/code-formatter/page.tsx
  src/utils/formatter.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: 格式化支持 groovy
  src/pages/code-formatter/index.tsx
  src/pages/code-formatter/page.tsx
  src/router/index.tsx
  src/stores/JsonEditorStore.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: markdown
  package-lock.json
  package.json
  src/pages/markdown/index.tsx
  src/pages/markdown/page.tsx
  src/router/index.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: github actions node-version upgrade
  .github/workflows/deployment.yml
  .github/workflows/pull_request_check.yml
Due: none

feat: v2.4.0
  package.json
Due: none

feat: ddd
  src/pages/timestamp/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: xml format
  src/utils/formatter.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: timestamp
  src/components/InputCopyable.tsx
  src/pages/timestamp/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: timestamp
  src/pages/timestamp/page.tsx
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: cf domains
  README.md
Due: prettier --parser markdown --write --ignore-unknown

feat: build config
  vite.config.ts
Due: eslint src --fix, prettier --parser typescript --write --ignore-unknown

feat: pkg upgrade
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint src --fix: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  prettier --write --ignore-unknown: (any of: *.{js,jsx}) or (any of: *.css)
  prettier --parser typescript --write --ignore-unknown: any of: *.{ts,tsx}
  prettier --parser markdown --write --ignore-unknown: any of: *.md
  stylelint src/**/*.css: any of: *.css
