Repository ysbjlzlx/toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, prettier --parser markdown --write --ignore-unknown, stylelint src/**/*.css

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix", "prettier --write --ignore-unknown"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --parser typescript --write --ignore-unknown"],
  "*.md": "prettier --parser markdown --write --ignore-unknown",
  "*.css": ["stylelint src/**/*.css", "prettier --write --ignore-unknown"]
}

feat: code
  package-lock.json
  package.json
  src/pages/tiptap/page.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: code
  src/pages/tiptap/page.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: pwd
  src/pages/generator/string/page.tsx
  src/scripts/RandomStringUtils.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: v2.5.0
  package.json
Due: none

feat: tiny-mce
  package-lock.json
  package.json
Due: none

feat: react-ace
  package-lock.json
  package.json
  src/pages/code-formatter/index.tsx
  src/pages/excel/page.tsx
  src/pages/format-conversion/page.tsx
  src/pages/json/json-to-excel/page.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: antd card
  src/components/TextResultBox.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: remove tiny-mce
  package-lock.json
  package.json
  src/pages/doc-editor/page.tsx
  src/router.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: quill2
  package-lock.json
  package.json
  src/pages/writer/page.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: pkg update
  package-lock.json
  package.json
Due: none

feat: quill
  package-lock.json
  package.json
  src/pages/writer/page.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: tiptap
  src/components/Iconify/index.tsx
  src/pages/tiptap/page.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: tiptap
  src/pages/tiptap/page.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add date-fns
  package-lock.json
  package.json
Due: none

feat: totp dayjs -> date-fns
  src/pages/totp/TokenField.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: timestamp dayjs -> date-fns
  src/pages/timestamp/page.tsx
  src/utils/validator.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: config dayjs -> date-fns
  src/config/dayjs.ts
  src/locale/index.ts
  src/main.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: remove dayjs
  package-lock.json
  package.json
Due: none

feat: remove joi
  .eslintrc.cjs
  __tests__/utils/validator.test.js
  src/utils/validator.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

feat: test
  __tests__/utils/validator.test.js
  package-lock.json
  package.json
  src/pages/__snapshots__/page.test.tsx.snap
  src/pages/page.test.tsx
  src/scripts/RandomStringUtils.test.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

feat: testing
  __tests__/utils/validator.test.js
  src/pages/page.test.tsx
  src/utils/validator.test.ts
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown

feat: clean testing
  package-lock.json
  package.json
Due: none

feat: remove joi
  package-lock.json
  package.json
  src/utils/validator.test.ts
  src/utils/validator.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: remove clickboard
  .eslintrc.cjs
  package-lock.json
  package.json
  src/components/CopyButton/index.tsx
  src/components/CopyButtonWrapper.tsx
  src/pages/__snapshots__/page.test.tsx.snap
  src/pages/tiptap/page.tsx
  src/pages/writer/page.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: CopyButton
  .eslintrc.cjs
  src/components/CopyButton/index.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: CopyTextButton
  src/components/CopyTextButton/index.tsx
  src/pages/writer/page.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: CopyTextButton
  src/components/ContentCopyButton.tsx
  src/components/InputCopyable.tsx
  src/components/TextResultBox.tsx
  src/pages/generator/string/page.tsx
  src/pages/totp/TokenField.tsx
  src/pages/totp/TotpCard.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: ncu config
  .ncurc.json
  package.json
Due: none

feat: tiptap
  package-lock.json
Due: none

feat: tiptap
  package-lock.json
  package.json
Due: none

feat: tiptap
  package-lock.json
  package.json
  src/components/ui/Icon.tsx
  src/lib/utils/index.ts
  src/pages/tiptap/page.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: tiptap
  src/layouts/defaultProps.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: pkg update
  .ncurc.json
  package-lock.json
  package.json
Due: none

feat: pkg update
  src/layouts/BaseLayout.tsx
  src/pages/generator/id/page.tsx
  src/pages/generator/image/page.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: pkg update
  src/layouts/defaultProps.tsx
  src/models/Apps.tsx
  src/pages/code/conversion/index.tsx
  src/pages/code/diff/index.tsx
  src/pages/code/formatter/index.tsx
  src/pages/diff/index.tsx
  src/pages/page.tsx
  src/router.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: pkg update
  src/components/ui/PageContainer.tsx
  src/components/ui/index.tsx
  src/pages/hash/page.tsx
  src/pages/transform/index.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown
