Repository ysbjlzlx/toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, prettier --parser typescript --write --ignore-unknown, prettier --parser markdown --write --ignore-unknown, stylelint src/**/*.css

feat: remove icon role attribute
  src/components/Iconify/index.tsx
  src/components/ui/Icon.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add lefthook
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

feat: add lefthook
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write --ignore-unknown

feat: remove husky
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: none

feat: remove husky lint-staged
  lint-staged.config.js
Due: eslint --fix, prettier --write --ignore-unknown

feat: remove husky lint-staged
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  package.json
Due: none

feat: add lefthook
  package.json
Due: none

feat: v2.6.0
  package.json
Due: none

feat: pkg update
  package.json
  pnpm-lock.yaml
Due: none

feat: 新增 password
  package.json
  pnpm-lock.yaml
  src/pages/password/index.tsx
  src/pages/password/pin.tsx
  src/router.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: 新增 password
  src/layouts/defaultProps.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: 更新 vanilla-jsoneditor
  package.json
  patches/vanilla-jsoneditor.patch
  pnpm-lock.yaml
Due: none

feat: 更新 vanilla-jsoneditor
  src/components/VanillaJSONEditor.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: password
  src/pages/password/index.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: password
  src/pages/password/index.tsx
  src/pages/password/random.tsx
  src/router.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: password
  src/layouts/defaultProps.tsx
  src/pages/password/random.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: password
  src/components/RandomTextResult/index.tsx
  src/pages/password/pin.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: password
  src/pages/password/random.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: password
  src/components/RandomTextResult/index.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: id
  src/layouts/defaultProps.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: username
  src/pages/username/index.tsx
  src/router.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: utils
  src/lib/utils.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: password
  src/lib/Random.ts
  src/lib/random-string-utils.ts
  src/pages/password/random.tsx
  src/scripts/RandomStringUtils.test.ts
  src/scripts/RandomStringUtils.ts
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: template
  package.json
  pnpm-lock.yaml
  src/pages/template/index.tsx
  src/router.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: upgrade nanoid uuid
  package.json
  pnpm-lock.yaml
Due: none

feat: upgrade lucide-react vitest
  package.json
  pnpm-lock.yaml
Due: none

feat: upgrade json-editor
  package.json
  patches/vanilla-jsoneditor.patch
  pnpm-lock.yaml
Due: none

feat: upgrade json-editor
  package.json
  pnpm-lock.yaml
Due: none

feat: pkg update
  package.json
  pnpm-lock.yaml
  src/pages/generator/id/page.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: revert snowflake
  package.json
  src/pages/generator/id/page.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: revert snowflake
  pnpm-lock.yaml
Due: none

feat: tsconfig update
  tsconfig.app.json
  tsconfig.node.json
Due: none

feat: add mdx editor
  package.json
  pnpm-lock.yaml
  src/router.tsx
  src/routes/writer/index.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

feat: add mdx editor
  src/routes/writer/index.tsx
Due: eslint --fix, prettier --parser typescript --write --ignore-unknown

Path conditions:
  eslint --fix: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  prettier --write --ignore-unknown: (any of: *.{js,jsx}) or (any of: *.css)
  prettier --parser typescript --write --ignore-unknown: any of: *.{ts,tsx}
  prettier --parser markdown --write --ignore-unknown: any of: *.md
  stylelint src/**/*.css: any of: *.css
